<?xml version="1.0" encoding="UTF-8"?>

<?define ProductVersion="$(var.VERSION)" ?>

<!-- имя каталога для установки -->
<?define DirName="OffMon" ?>

<!-- для обновления -->
<?define RTMProductVersion="0.0.0" ?>
<?define UpgradeCode="D071FEF9-783E-4BB7-9110-A2FA0DD4D96E" ?>

<!-- платформа -->
<?ifdef OS64 ?>
	<?define Platform="x64" ?>
<?else ?>
	<?define Platform="x86" ?>
<?endif ?>

<!-- путь к файлу EULA -->
<?define LicenseFile="$(var.LICENSE)" ?>

<Wix 
	xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

<Product Id="*"
	Name="OffMon $(var.ProductVersion)"
	Language="$(var.LANGUAGE)"
	Codepage="$(var.CODEPAGE)"
	Version='$(var.ProductVersion)'
	UpgradeCode='$(var.UpgradeCode)'
	Manufacturer="!(loc.OffMonManufacturer)">

	<Package Id="*"
		Description="!(loc.OffMonDescription)" 
		Comments="http://offmon.wholegroup.com" 
		InstallerVersion="200"
		Compressed="yes"
		Keywords='Installer,MSI,Database'
		AdminImage="no"
		Platform="$(var.Platform)"
	/>

	<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

	<!-- копоненты для установки -->
	<Feature Id="Complete" Level="1" >
		<ComponentRef Id="OffMon"/>
		<ComponentRef Id="ShortcutMenuComponent" />
		<ComponentRef Id="ShortcutDesktopComponent" />
		<ComponentRef Id="ShortcutUninstallComponent" />
		<ComponentRef Id="ShortcutOptionsComponent" />
	</Feature>

	<Feature Id='MyFeature' Title='My 1st Feature' Level='1'>
	</Feature>

	<!-- Файлы для установки -->
	<Directory Id="TARGETDIR" Name="SourceDir">
		<?ifdef OS64 ?>
		<!-- установка на x64 -->
		<Directory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLDIR" Name='$(var.DirName)'>
				<Component Id="OffMon" Guid="FC62E1EB-CDFD-4EB8-8085-03106A5EC4B0" DiskId="1" Win64="yes">
					<Condition>VersionNT64</Condition>
					<File Id="OffMonbin" Name='OffMon.exe' Source="Sources/vs2010/x64/Release/OffMon.exe" />
				</Component>
			</Directory>
		</Directory>
		<?else ?>
		<!-- установка на x86 --> 
		<Directory Id="ProgramFilesFolder">
			<Directory Id="INSTALLDIR" Name='$(var.DirName)'>
				<Component Id="OffMon" Guid="AEAEB1AF-EC8D-4B4B-BFF0-7623E1AEE566" DiskId="1" Win64="no">
					<Condition>NOT VersionNT64</Condition>
					<File Id="OffMonbin" Name='OffMon.exe' Source="Sources/vs2010/Release/OffMon.exe" />
				</Component>
			</Directory>
		</Directory>
		<?endif ?>

		<!-- создание ярлыков программы в меню пуск -->
		<Directory Id="ProgramMenuFolder">
		<Directory Id="ProgramMenuDir" Name="OffMon">
			<Component Id="ShortcutUninstallComponent" Guid="9A285483-CBD5-4B83-8BB6-78172AA6D4A1">
				<RegistryKey Root="HKCU" Key="Software\www.wholegroup.com\OffMon">
					<RegistryValue Name="ShortcutsUninstall" Value="Installed" Type="string" KeyPath="yes" />
				</RegistryKey>
				<Shortcut Id="UninstallProduct"
					Name="!(loc.OffMonUninstall)"
					Target="[SystemFolder]msiexec.exe"
					Arguments="/x [ProductCode]"
					Directory="ProgramMenuDir"
					Description="!(loc.OffMonUninstall)">
				</Shortcut>
			</Component>
			<Component Id="ShortcutMenuComponent" Guid="960C846E-DD6F-41FC-965A-87BA8D621E2A">
				<RegistryKey Root="HKCU" Key="Software\www.wholegroup.com\OffMon">
					<RegistryValue Name="ShortcutsMenu" Value="Installed" Type="string" KeyPath="yes" />
				</RegistryKey>
				<Shortcut Id="ApplicationMenu"
					Advertise="no"
					Name="OffMon"
					Target="[!OffMonbin]"
					Directory="ProgramMenuDir" />
				<RemoveFolder Id="RemoveShortcutFolder" On="uninstall" />
			</Component>
			<Component Id="ShortcutOptionsComponent" Guid="4253BAA3-0C32-4A80-8F0F-DC08254A24FB">
				<RegistryKey Root="HKCU" Key="Software\www.wholegroup.com\OffMon">
					<RegistryValue Name="ShortcutsOption" Value="Installed" Type="string" KeyPath="yes" />
				</RegistryKey>
				<Shortcut Id="OptionsMenu"
					Advertise="no"
					Name="!(loc.OffMonOptions)"
					Target="[!OffMonbin]"
					Arguments="-o"
					Directory="ProgramMenuDir" />
			</Component>
		</Directory>
		</Directory>

		<!-- создание ярлыка на программу на рабочем столе -->
		<Directory Id="DesktopFolder" Name="Desktop">
			<Component Id="ShortcutDesktopComponent" Guid="F2D08165-E0D7-42F9-A516-1F239A13DB95">
				<RegistryKey Root="HKCU" Key="Software\www.wholegroup.com\OffMon">
					<RegistryValue Name="ShortcutsDesktop" Value="Installed" Type="string" KeyPath="yes" />
				</RegistryKey>
				<Shortcut Id="ApplicationDesktop"
					Advertise="no"
					Name="OffMon"
					Target="[!OffMonbin]"
					Directory="DesktopFolder" />
			</Component>
		</Directory>

	</Directory>

	<!-- Различное описание установочного пакета -->
	<Property Id="ARPCOMMENTS" Value="!(loc.OffMonARPCOMMENTS)" />
	<Property Id="ARPCONTACT" Value="!(loc.OffMonARPCONTACT)" />
	<Property Id="ARPPRODUCTICON" Value="OffMon.ico" />
	<Property Id="ARPHELPLINK" Value="http://offmon.wholegroup.com" />
	<Property Id="ARPREADME" Value="http://offmon.wholegroup.com" />
	<Property Id="ARPURLINFOABOUT" Value="http://offmon.wholegroup.com" />
	<Property Id="ARPURLUPDATEINFO" Value="http://offmon.wholegroup.com" />
	<Property Id="ARPHELPTELEPHONE" Value="+7 912 741 59 23" />
	<Property Id="ARPAUTHORIZEDCDFPREFIX" Value="http://offmon.wholegroup.com" />
	<Property Id="ALLUSERS" Value="1" />

	<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />
	<InstallExecuteSequence>
		<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
	</InstallExecuteSequence>	

	<Icon Id="OffMon.ico" SourceFile="sources/OffMon.ico" />
	
	<!-- код для обновления продукта -->
	<Upgrade Id="$(var.UpgradeCode)">
		<UpgradeVersion Minimum="$(var.ProductVersion)"
			IncludeMinimum="no"
			OnlyDetect="yes"
			Language="$(var.LANGUAGE)"
			Property="NEWPRODUCTFOUND" />

		<UpgradeVersion Minimum="$(var.RTMProductVersion)"
			IncludeMinimum="yes"
			Maximum="$(var.ProductVersion)"
			IncludeMaximum="no"
			Language="$(var.LANGUAGE)"
			Property="UPGRADEFOUND" />
	</Upgrade>

	<CustomAction Id="PreventDowngrading" Error="!(loc.OffMonError01)" />
	<InstallExecuteSequence>
		<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
		<RemoveExistingProducts Before="InstallInitialize">UPGRADEFOUND</RemoveExistingProducts>
	</InstallExecuteSequence>

	<InstallUISequence>
		<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
	</InstallUISequence>

	<!-- запуск программы -->
	<CustomAction Id='LaunchOffMon' ExeCommand="[INSTALLDIR]OffMon.exe" Directory="INSTALLDIR" Return='asyncNoWait' Impersonate="yes" />
	<InstallExecuteSequence>
		<Custom Action='LaunchOffMon' After='InstallFinalize'>NOT Installed</Custom>
	</InstallExecuteSequence>

	<!-- код для закрытия программы (при удалении или upgrade) -->
	<util:CloseApplication Id="RunningSmartSVN" Target="OffMon.exe" Property="RUNNINGAPP" CloseMessage="yes" RebootPrompt="no" />
	<InstallExecuteSequence>
		<Custom Action="WixCloseApplications" Before="InstallInitialize">Installed</Custom>
	</InstallExecuteSequence> 

	<!-- определени GUI -->
	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	<UIRef Id="WixUI_InstallDir" />
	<WixVariable Id='WixUILicenseRtf' Value='$(var.LicenseFile)' />
</Product>

</Wix>
